<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	
	 <!-- 必须项-->
	<appender name="infoAppender" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="Encoding" value="UTF-8" />  
		<param name="File" value="/www/log/web/golf/stdout.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{2\} - %m%n"/>
		</layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">  
                <param name="LevelMax" value="INFO" />  
                <param name="LevelMin" value="DEBUG" />  
        </filter>
	</appender>
	
	 <!-- 必须项-->
	 <appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="Encoding" value="UTF-8" />  
		<param name="File" value="/www/log/web/golf/stderr.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{2\} - %m%n"/>
		</layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">  
                <param name="LevelMax" value="ERROR" />  
                <param name="LevelMin" value="WARN" />  
        </filter>
	</appender>
	
	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern"    
                value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] [%c] - %m%n" />  
        </layout>  
        <!--过滤器设置输出的级别-->  
        <filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="debug" />  
            <param name="levelMax" value="error" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>  
    </appender>	
	
	
	<appender name="Perf4jAppender" class="org.apache.log4j.FileAppender"> 
	    <param name="Encoding" value="UTF-8" />  
		<param name="File" value="/www/log/web/golf/perf4j.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{2\} - %m%n"/>
		</layout>
	</appender> 
	<appender name="CoalescingStatistics" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender" >
		<param name="TimeSlice" value="10000" />
		<appender-ref ref="Perf4jAppender" /> 
	</appender>
    <logger name="org.perf4j.TimingLogger" additivity="false" >
        <level value="INFO" />
        <appender-ref ref="CoalescingStatistics" />
    </logger>
	
    <!-- 非必须项 网站用户行为记录log-->
    <!-- 指定logger的设置，additivity指示是否遵循缺省的继承机制-->
    <!-- 适用于自定义日志文件目录，程序中使用LogFactory.getLog("behavior")这种格式取得日志对象-->
	<logger name="stats" additivity="false">
		<level value ="INFO"/> 
		<appender-ref ref="myConsole"/>
	</logger>
   
	
	<!-- 必须项-->
	<!-- 定义以com.bb开头的类的日志级别-->
	<logger name="com.hunbola" additivity="false">
		<level value ="info"/> 
		<appender-ref ref="infoAppender"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="myConsole"/>
	</logger>
	
	<!-- Root Logger -->
	<!-- 必须项-->
	<root>
		<priority value="INFO" />
		<appender-ref ref="infoAppender"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="myConsole"/>
	</root>             
</log4j:configuration>
